body {
    background-image: linear-gradient(45deg, #222222, #111111, #222222);
}
p {
    color: white;
    font-family: monospace;
}
h1 {
    color: white;
    font-family: monospace;
    font-size: 30px;
}
button {
    font-family: monospace;
    background-image: linear-gradient(45deg, #666666, #333333);
    border: 2px solid #444444;
    color: white;
    border-radius: 6px;
    width: 70px;
    height: 22.5px;
}
button:hover {
    box-shadow: 0px 0px 2px 2px #004400;
}
#top-button-right {
    position: fixed;
    top: 0px;
    left: 80px;
}
#top-button-left {
    position: fixed;
    top: 0px;
    left: 0px;
}
#top-bar {
    position: fixed;
    width: 100%;
    height: 22.5px;
    top: 0%;
    left: 0%;
    background-image: linear-gradient(to right, #222222, #444444, #222222);
    opacity: 0.75;
}
.music-border {
    border-color: #00AA00;
    border-width: 5px;
    border-style: solid;
    margin: -10px 10px 10px -5px;
}
.green-border {
    border-color: #00AA00;
    border-width: 10px;
    border-style: solid;
}
#title {
    border-color: #00AA00;
    border-width: 10px;
    border-style: solid;
    margin: 0% 39% 0% 39%;
    font-size: 15px;
}
#script {
    width: 76.2667px !important;
    height: auto !important;
}