body {
    background-color: #222222;
}
p {
    color: white;
    font-family: monospace;
}
h1 {
    color: white;
    font-family: monospace;
    font-size: 30px;
}
button {
    font-family: monospace;
    background-color: #666666;
    border: 2px solid #444444;
    color: white;
    border-radius: 6px;
    width: 70px;
    height: 22.5px;
}
#top-button-right {
    position: fixed;
    top: 0px;
    left: 80px;
}
#top-button-left {
    position: fixed;
    top: 0px;
    left: 0px;
}
#top-bar {
    position: fixed;
    width: 100%;
    height: 22.5px;
    top: 0%;
    left: 0%;
    background-color: #111111;
    opacity: 0.75;
}
.music-border {
    border-color: #00AA00;
    border-width: 5px;
    border-style: solid;
    margin: -10px 10px 10px -5px;
}
.green-border {
    border-color: #00AA00;
    border-width: 10px;
    border-style: solid;
}
#title {
    border-color: #00AA00;
    border-width: 10px;
    border-style: solid;
    margin: 0% 39% 0% 39%;
    font-size: 15px;
}
#script {
    height: fit-content;
}